<h2>User info</h2>
<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @user do |f| %>
  <div class="name">Name</div>
  <%= f.text_field :name %>
  <Div class="image">image</div>
  <%= f.file_field :profile_image, accept: "image/*" %>
  <div class="introduction">Introduction</div>
  <%= f.text_area :introduction %>
  <%= f.submit "Update Use" %>
<% end %>
