<div class="container">
  <div class="row">
     <div class="col-lg-3">
       <%= render 'users/user', user: @user %>
       <%= render 'booknew', book: @booknew %>
     </div>
      <div class="col-lg-9">
        <h1>Book detail</h1>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>
              <%= link_to user_path(@user) do %>
              <%= image_tag @book.user.get_profile_image(100,100) %><br>
              <%= @book.user.name %>
              <% end %>
              </td>
              <td><%= @book.title %></td>
              <td><%= @book.body %></td>
              <td>
              <% if @book.user == current_user %>
              <%= link_to "edit", edit_book_path(@book) %>
              <% end %>
              </td>
              <td>
              <% if @book.user == current_user %>
              <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %>
              <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>